#nav-bar {
  width: 100%;
  position: fixed;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0 2em;
  z-index: 100;
  top: 0;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  margin: 10px 10px 0 0;
}

#nav-bar .header {
  margin: 10px 0;
  font-size: 200%;
  position: fixed;
  top: 20px;
}

/* {
  float: right;
  color: black;
  outline-color: black;
  background-color: black;

}*/

.compose {
  margin: 20px auto;
  float: right;
  background-color: #e8fdff;
  color: #00a087;
  border: 1px solid #454545;
  border-radius: 5px;
  width: 15%;
  height: 50px;
}

.compose:hover {
  background-color: white;
  color: black;
}