.new-tweet {
  display: none;
  padding: 10px;
  width: 80%;
  margin: 10px auto 20px auto;
  border: 1px solid #cccccc;
  background-color: #eeeeee;
  border-radius: 5px;
  position: relative;
  top: 60px;
}

.new-tweet h2 {
  margin: 0 auto;
  border-bottom: 1px solid black;
}

.new-tweet textarea {
  min-width: 100%;
  max-width: 100%;
  margin-top: 20px;
}

.new-tweet form input {
  float: bottom;
}

.counter {
  float: right;
  color: red;
}

.nCounter {
  color: #244751;;
}

.err {
  display: none;
  font-weight: bold;
  font-size: 1.5em;
  color: red;
}




